@model MakingItPretty.Models.Application
    <div class="panel callout success">
        <h5>Last Application:</h5>
        <p><strong>Date:</strong> @Model.ApplicationDate.ToShortDateString()</p>
    <p><strong>Job Reference:</strong> @Model.JobReference</p>
</div>
